<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sound_bite.title %>
</p>

<p>
  <strong>Transcript:</strong>
  <%= @sound_bite.transcript %>
</p>

<p>
  <strong>Length:</strong>
  <%= @sound_bite.length %>
</p>

<p>
  <strong>Audiofile:</strong>
  <%= @sound_bite.audiofile %>
</p>

<p>
  <strong>Recording date:</strong>
  <%= @sound_bite.recording_date %>
</p>


<p>
  <strong>Number of Comments For This Soundbite:</strong>
  <%= @sound_bite.comments.length %> 
</p>

<p>
  <strong>Comments:</strong>
  <%= @sound_bite.comments.each do |comment|
    response.write(comment)
   end
   %>
</p>


  <div class="field">
    <%= f.label :Additional_Comments %><br>
    <%= f.text_field :comments %>
  </div>
  <div class="actions">
    <%= f.submit :Comment %>
  </div>

<% end %>
<%= link_to 'Edit', edit_sound_bite_path(@sound_bite) %> |
<%= link_to 'Back', sound_bites_path %>



